/* Bendrai nustatome visos svetainės šriftus ir pagrindinį stilių */
body {
    font-family: 'Roboto', sans-serif; /* Google Fonts pvz. */
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333; /* Teksto spalva */
    box-sizing: border-box; /* Box model */
}

/* Sekcijų pavadinimų (h2) šriftai */
h2 {
    font-family: 'Merriweather', serif; /* Šriftų derinys */
    font-size: 2.5rem;
    font-weight: 700; /* Storesnis šriftas */
    text-align: center;
    color: #0056b3;
    margin-bottom: 1rem;
}

/* Papildomų antraščių (h3, h4) stilius */
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1rem 0;
    color: #00695c;
}

h4 {
    font-size: 1.5rem;
    color: #4caf50;
}

/* Paragrafo stilius */
p {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: #444;
}

/* Sąrašo stilius */
ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin: 1rem 0;
}

ul li {
    margin: 0.5rem 0;
    font-size: 1rem;
}

/* Nuotraukų stilius */
img {
    display: block;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Video ir audio sekcijų centrinimas */
video, iframe, audio {
    display: block;
    margin: 1rem auto;
    max-width: 100%;
}

/* Flexbox stiliai sekcijoms */
section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Grid išdėstymo stilius "Atlikti darbai" sekcijoje */
#portfolio img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: center;
    justify-items: center;
}